 @using JobNest.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link href="~/Style/Index.css?t=<%= DateTime.Now.Ticks %" rel="stylesheet" type="text/css" />

<ul class="links-group-two">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="logout" type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li>
            <a class="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
