@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<center><h3>Jobs</h3></center>

<style>
    .tbody button a {
        color: #fff;
        text-decoration: none;
    }

    .tbody button {
        display: inline-block;
        border: none;
        padding: 8px 0px;
        width: 90px;
        border-radius: 4px;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .tbody button:hover,
    .tbody button:focus {
        background: #0053ba;
    }

    .tbody button + button {
        margin-left: 8px;
        background: #ff453b;
    }

    .tbody button + button:hover,
    .tbody button + button:focus {
        background: #ee0c00;
    }

    .tbody button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    .tbody button:active {
        transform: scale(0.99);
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        loadData();
    })

    function loadData() {
        $.ajax({
            url: "/Job/GetJobs",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                // console.log("Received response:", response);
                var html = '';
                $.each(response, function (key, item) {
                    html += '<tr>'
                    html += '<td>' + item.companyName + '</td>';
                    html += '<td>' + item.position + '</td>';
                    html += '<td>' + item.salary + '</td>';
                    html += '<td>' + item.location + '</td>';
                    html += '<td>' + new Date(item.startingDate).toLocaleDateString() + '</td>';
                    html += '<td>' +
                        '<button><a href="#" onclick="getJobById(' + item.jobId + ')">Edit Job</a></button>' +
                        '<button><a href="#" onclick="deleteJob(' + item.jobId + ')">Delete Job</a></button>' +
                        '</td>';
                    html += '</tr>'
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responsetext);
            }
        });
    }

    function addJob() {
        var jobObj = {
            UserId: $('#userId').val(),
            CompanyName: $('#companyName').val(),
            Position: $('#position').val(),
            Salary: $('#salary').val(),
            Location: $('#location').val(),
            StartingDate: $('#startingDate').val(),
        };

        $.ajax({
            url: '/Job/AddNewJob',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(jobObj),
            success: function (response) {
                loadData();
                $('#myModal').modal('hide');
                $('.modal-backdrop').remove();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function getJobById(jobId) {
        console.log(jobId);
        $.ajax({
            url: "/Job/GetJobById/" + jobId,
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $('#jobId').val(response.jobId);
                $('#companyName').val(response.companyName);
                $('#position').val(response.position);
                $('#salary').val(response.salary);
                $('#location').val(response.location);

                var startDate = new Date(response.startingDate);
                $('#startingDate').val(startDate.toISOString().split('T')[0]);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responsetext);
            }
        })
    }

    function updateJob() {
        var jobObj = {
            JobId: $('#jobId').val(),
            UserId: $('#userId').val(),
            CompanyName: $('#companyName').val(),
            Position: $('#position').val(),
            Salary: $('#salary').val(),
            Location: $('#location').val(),
            StartingDate: $('#startingDate').val(),
        };

        console.log(jobObj);

        $.ajax({
            url: '/Job/UpdateJob',
            data: JSON.stringify(jobObj),
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                console.log(response);
                loadData();
                $('#myModal').modal('hide');
                $('.modal-backdrop').remove();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function deleteJob(jobId) {
        var ans = confirm('Are you sure you want to delete this job posting?');

        if (ans) {
            $.ajax({
                url: "/Job/DeleteJob/" + jobId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function clearTextBoxes() {
        $('#companyName').val("");
        $('#position').val("");
        $('#salary').val("");
        $('#location').val("");
        $('#startingDate').val("");

        $('#btnUpdate').hide();
        $('#btnAdd').show();
    }

    // Add this JavaScript code to perform form validation
    function validateForm() {
        var companyName = $('#companyName').val().trim();
        var position = $('#position').val().trim();
        var salary = $('#salary').val().trim();
        var location = $('#location').val().trim();
        var startingDate = $('#startingDate').val().trim();

        var errorMessage = "";

        // Check for empty fields
        if (companyName === "" || position === "" || salary === "" || location === "" || startingDate === "") {
            errorMessage = "All fields are required.";
        }

        // Validate salary as a number
        if (isNaN(parseFloat(salary))) {
            errorMessage += (errorMessage === "" ? "" : "<br>") + "Please enter a valid salary.";
        }

        // Validate starting date as a date
        if (!/^\d{4}-\d{2}-\d{2}$/.test(startingDate)) {
            errorMessage += (errorMessage === "" ? "" : "<br>") + "Please enter a valid starting date (YYYY-MM-DD).";
        }

        // Display error message if any
        if (errorMessage !== "") {
            $('#errorMessages').html(errorMessage);
            return false; // Prevent form submission
        }

        // If no errors, return true to allow form submission
        return true;
    }

    function clearErrorMessages() {
        $('#errorMessages').html("");
    }
</script>

<div class="container">
    <button style="margin-bottom: 20px; background-color:purple; border-color: transparent" 
    type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" 
    onclick="clearTextBoxes(); clearErrorMessages();">Add New Job</button>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Company Name</td>
                <td>Position</td>
                <td>Salary</td>
                <td>Location</td>
                <td>StartingDate</td>
                <td>Action</td>

            </tr>
        </thead>
        <tbody class="tbody">
            @*all the records will be populated here*@
  @*       </tbody>

    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Job</h4>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>

                        <input type="hidden" id="jobId" />
                        <input type="hidden" id="userId" value="@TempData["UserId"]"/>

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="companyName" placeholder="Name of the company" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="position" placeholder="Position" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" id="salary" placeholder="Salary" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="location" placeholder="Location" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="startingDate" placeholder="Starting date for the job" required />
                                </div>
                            </div>
                        </div>

                        <br />

                    </form>
                </div>

                <center><p style="color:red" id="errorMessages"></p></center>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" id="btnAdd" onclick="if (validateForm()) addJob();">Post</button>
                    <button type="button" class="btn btn-outline-primary" id="btnUpdate" onclick="if (validateForm()) updateJob();">Update</button>

                </div>
            </div>
        </div>
    </div>

</div>
 *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<center><h3>Jobs</h3></center>

<style>
    main {
        width: min(100% - 30px, 1280px);
        margin-inline: auto;
        padding: 85px 0px 40px 0px;
        min-height: calc(100% - 80px - 300px);
    }

    body {
        font-family: "Montserrat", "sans-serif", Arial, sans-serif;
        color: #262433;
        background-color: #FDFDFD;
        height: 100vh;
    }
    /*
        .my-container {
            width: min(100% - 30px, 1280px);
            margin-inline: auto;
            padding-bottom: 2.5rem; /* Footer height */
    }

    */

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #252532;
        font-size: 14px;
    }

    p {
        margin: 0;
    }

    footer {
        padding: 60px 0px 40px 0px;
        height: 300px;
        margin-top: 45px;
    }

    .logout {
        line-height: normal;
    }

    .tbody button {
        color: #fff;
        display: inline-block;
        border: none;
        padding: 8px 0px;
        width: 100px;
        border-radius: 4px;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .tbody button:hover,
        .tbody button:focus {
            background: #0053ba;
        }

        .tbody button + button {
            margin-left: 8px;
            background: #ff453b;
        }

            .tbody button + button:hover,
            .tbody button + button:focus {
                background: #ee0c00;
            }

        .tbody button:active {
            transform: scale(0.99);
        }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        loadData();
    })

    function loadData() {
        $.ajax({
            url: "/Job/GetJobs",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var html = '';
                $.each(response, function (key, item) {
                    html += '<tr>'
                    html += '<td>' + item.companyName + '</td>';
                    html += '<td>' + item.position + '</td>';
                    html += '<td>' + item.salary + '</td>';
                    html += '<td>' + item.location + '</td>';
                    html += '<td>' + new Date(item.startingDate).toLocaleDateString() + '</td>';
                    html += '<td>' +
                        '<button onclick="getJobById(' + item.jobId + ')">Edit Job</button>' +
                        '<button onclick="deleteJob(' + item.jobId + ')">Delete Job</button>' +
                        '</td>';
                    html += '</tr>'
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responsetext);
            }
        });
    }

    function addJob() {
        var jobObj = {
            UserId: $('#userId').val(),
            CompanyName: $('#companyName').val(),
            Position: $('#position').val(),
            Salary: $('#salary').val(),
            Location: $('#location').val(),
            StartingDate: $('#startingDate').val(),
        };

        $.ajax({
            url: '/Job/AddNewJob',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(jobObj),
            success: function (response) {
                loadData();
                $('#myModal').modal('hide');
                $('.modal-backdrop').remove();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function getJobById(jobId) {
        $.ajax({
            url: "/Job/GetJobById/" + jobId,
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $('#jobId').val(response.jobId);
                $('#companyName').val(response.companyName);
                $('#position').val(response.position);
                $('#salary').val(response.salary);
                $('#location').val(response.location);

                var startDate = new Date(response.startingDate);
                $('#startingDate').val(startDate.toISOString().split('T')[0]);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responsetext);
            }
        })
    }

    function updateJob() {
        var jobObj = {
            JobId: $('#jobId').val(),
            UserId: $('#userId').val(),
            CompanyName: $('#companyName').val(),
            Position: $('#position').val(),
            Salary: $('#salary').val(),
            Location: $('#location').val(),
            StartingDate: $('#startingDate').val(),
        };

        $.ajax({
            url: '/Job/UpdateJob',
            data: JSON.stringify(jobObj),
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                loadData();
                $('#myModal').modal('hide');
                $('.modal-backdrop').remove();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function deleteJob(jobId) {
        var ans = confirm('Are you sure you want to delete this job posting?');

        if (ans) {
            $.ajax({
                url: "/Job/DeleteJob/" + jobId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function clearTextBoxes() {
        $('#companyName').val("");
        $('#position').val("");
        $('#salary').val("");
        $('#location').val("");
        $('#startingDate').val("");

        $('#btnUpdate').hide();
        $('#btnAdd').show();
    }

    // Add this JavaScript code to perform form validation
    function validateForm() {
        var companyName = $('#companyName').val().trim();
        var position = $('#position').val().trim();
        var salary = $('#salary').val().trim();
        var location = $('#location').val().trim();
        var startingDate = $('#startingDate').val().trim();

        var errorMessage = "";

        // Check for empty fields
        if (companyName === "" || position === "" || salary === "" || location === "" || startingDate === "") {
            errorMessage = "All fields are required.";
        }

        // Validate salary as a number
        if (isNaN(parseFloat(salary))) {
            errorMessage += (errorMessage === "" ? "" : "<br>") + "Please enter a valid salary.";
        }

        // Validate starting date as a date
        if (!/^\d{4}-\d{2}-\d{2}$/.test(startingDate)) {
            errorMessage += (errorMessage === "" ? "" : "<br>") + "Please enter a valid starting date (YYYY-MM-DD).";
        }

        // Display error message if any
        if (errorMessage !== "") {
            $('#errorMessages').html(errorMessage);
            return false; // Prevent form submission
        }

        // If no errors, return true to allow form submission
        return true;
    }

    function clearErrorMessages() {
        $('#errorMessages').html("");
    }
</script>

<div class="container">
    <button style="margin-bottom: 20px; background-color: dodgerblue; border-color: transparent"
            type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
            onclick="clearTextBoxes(); clearErrorMessages();">
        Add New Job
    </button>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Company Name</td>
                <td>Position</td>
                <td>Salary</td>
                <td>Location</td>
                <td>StartingDate</td>
                <td>Action</td>

            </tr>
        </thead>
        <tbody class="tbody">
            @*all the records will be populated here*@
        </tbody>

    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Job</h4>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>

                        <input type="hidden" id="jobId" />
                        <input type="hidden" id="userId" value="@TempData["UserId"]" />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="companyName" placeholder="Name of the company" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="position" placeholder="Position" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" id="salary" placeholder="Salary" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="location" placeholder="Location" required />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="startingDate" placeholder="Starting date for the job" required />
                                </div>
                            </div>
                        </div>

                        <br />

                    </form>
                </div>

                <center><p style="color:red" id="errorMessages"></p></center>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" id="btnAdd" onclick="if (validateForm()) addJob();">Post</button>
                    <button type="button" class="btn btn-outline-primary" id="btnUpdate" onclick="if (validateForm()) updateJob();">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
