<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobnest</title>
    <style>
        body {
            font-family: "Montserrat", "sans-serif", Arial, sans-serif !important;
        }

        .home-container {
            max-width: 800px;
            margin: 50px auto;
            text-align: center;
        }

        .home-container h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

       .home-container p {
            font-size: 18px;
            margin-bottom: 30px;
       }

       .home-container a {
            display: inline-block;
            margin: 0 10px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
       }

       .home-container a:hover {
            background-color: #4CAF5F;
       }

       .home-container a:nth-last-of-type(n+2) {
           background-color: purple;
       }
    </style>
</head>
<body>
    <div class="home-container">
        <h1>Welcome to Jobnest</h1>
        <p>Find your dream job and manage your applications with ease.</p>
        <a asp-controller="Application" asp-action="Jobs">Job Listings</a>
        <a asp-controller="Application" asp-action="Index">My Applications</a>
    </div>
</body>
</html>