@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<style>
    .my-container {
        width: min(100% - 30px, 1280px);
        margin-inline: auto;
    }

    .confirmation {
        height: calc(100vh - 80px - 240px)
    }

    footer {
        height: 240px;
        padding: 40px 0;
    }
</style>

<div class="my-container confirmation">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            // <p>
            //     This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            //     Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            // </p>
            <p>
                Email is registered. Continue to log in
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>

