@charset "utf-8";

@import url(./Reset.css?t=<%= DateTime.Now.Ticks %);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "sans-serif", Arial, sans-serif;
    color: #262433;
    background-color: #FDFDFD;
}

.my-container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #252532;
    font-size: 14px;
}

p {
    margin: 0;
}

/* Header Style */
header {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #efedf4;
}

.links-group-one, .links-group-two {
    margin: 0;
    padding: 0;
    display: flex;
}

.links-group-one {
    gap: 40px;
}

header a {
    transition: all 0.3s ease-in-out;
}

.links-group-two {
    gap: 20px;
}

.header-links {
    display: flex;
    justify-content: space-between;
}

.header-links a:not(.jobnest) {
    word-spacing: -1px;
    font-weight: 600;
}

.jobnest {
    margin-right: 40px;
    font-size: 34px;
    font-weight: 600;
}

.title-one {
    color: #6A38C2;
}

.title-two {
    color: #FA500A;
}

.login {
    border: 1px solid #252532;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    background-color: #ede7f8;
}

.register, .logout {
    border: 1px solid #6A38C2;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
    background-color: #6A38C2;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.register:hover, .logout:hover {
    background-color: #542d9a;
}

.logout {
    cursor: pointer;
}

/* Hero Banner */
.hero-banner {
    padding: 70px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFF8F5;
    padding: 10px 14px;
    border-radius: 20px;
}

.award p {
    color: #FB7945;
    font-weight: 700;
    font-size: 10px;
}

.award i {
    color: #c4941d;
    font-size: 12px;
}

.hero-title {
    font-size: 60px;
}

.hero-title:first-of-type {
    margin-bottom: 10px;
}

.hero-color-title {
    color: #6A38C2;
}

.hero-description {
    color: #777777;
    font-size: 13px;
    font-weight: 500;
}

.hero-description:first-of-type {
    margin-top: 30px;
    margin-bottom: 10px;
}

.hero-button {
    margin-top: 30px;
    padding: 18px 30px;
    background-color: #6A38C2;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero-button:hover {
    background-color: #542d9a;
}

 /*SlideShow*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1700px);
    }
}

.slider-container {
    margin-bottom: 70px;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider:first-of-type {
    margin-bottom: 16px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 50s linear infinite forwards;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width:max-content;
}

.slide {
    border-radius: 20px;
    border: 1px solid #a8a8a8;
    display: grid;
    place-items: center;
}

.slide p {
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.slide-purple {
    border-color: #542d9a;
    color: #542d9a;
}

.get-hired {
    background-color: #f8f6fc;
    padding-top: 70px;
}

.instructions-header {
    display: grid;
    place-items: center;
    text-align: center;
}

.instructions-header h2 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 20px;
}

.instructions-header h2 span {
    color: #6A38C2;
}

.instructions-header p {
    color: #777777;
    font-size: 13px;
    font-weight: 500;
}

.instructions-header p:first-of-type {
    margin-bottom: 10px;
}

.steps-container {
display: flex;
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 110px;
    flex-wrap: wrap;
    justify-content: center;
}

.step-two, .step-four {
    transform: translateY(40px);
}

.step {
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    width: calc(100% / 4 - 20px);
    box-sizing: border-box;
    text-align: center;
}

.step h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

.step p {
    color: #777777;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9;
}

.icon-box {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}

.icon-box i {
    font-size: 18px;
}

.user-icon-box {
    background-color: #ffeae1;
}

.user-icon-box i {
    color: #fb743c;
}

.job-icon-box {
    background-color: #E9DDFF;
}

.job-icon-box i {
    color: #875dd0;
}

.resume-icon-box {
    background-color: #dcf5f3
}

.resume-icon-box i {
    color: #39C0B8;
}

.get-job-icon-box {
    background-color: #FEF7E2;
}

.get-job-icon-box i {
    color: #FABA0A
}

.career-option-sec {
    margin: 70px 0px 70px 0px;
}

.career-option-head {
    display: grid;
    place-items: center;
}

.career-option-head span {
    color: #6A38C2;
}

.career-option-head h2 {
    font-size: 35px;
}

.career-option-head :nth-child(2) {
    margin: 5px 0px 40px 0px;
}

/*.career-options-container {
    display: flex;
    gap: 30px;
}

.career-option {
    border: 1px solid #ededed;
    box-shadow: 0px 0px 16px 5px rgba(237,237,237,0.49);
    border-radius: 10px;
    width: calc(100% / 4);
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/
.career-options-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.career-option {
    border: 1px solid #ededed;
    box-shadow: 0 0 16px 5px rgba(237, 237, 237, 0.49);
    border-radius: 10px;
    width: calc(100% / 4 - 30px);
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.career-option-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.career-option-content div {
    width: 70%;
}

.career-option-content i {
    width: 30%;
    text-align: center;
}

.career-option i {
    font-size: 28px;
}

.career-option p {
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
    color: #777777;
    font-weight: 500;
}

.career-option-content h3 {
    font-weight: 600;
}

.career-option-content h3:nth-of-type(2) {
    padding-top: 5px;
}

.first-career-option {
    margin-bottom: 30px;
}

.fa-bullhorn {
    color: #FE5858;
}

.fa-bezier-curve {
    color: #7E7BE5;
}

.fa-user-gear {
    color: #df8787;
}

.fa-hand-holding-dollar {
    color: #F3AB45;
}

.fa-user-secret {
    color: #AB6AFE;
}

.fa-handshake {
    color: #F266FF;
}

.fa-headphones-simple {
    color: #40A681;
}

.fa-folder-tree {
    color: #5F4FCD;
}

.category-btn-container,
.more-jobs-container {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.all-categories,
.more-jobs-btn{
    background-color: #6A38C2;
    border: 1px solid #6A38C2;
    border-radius: 6px;
    padding: 14px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.all-categories:hover {
    background-color: #542d9a;
}

.featured-jobs-sect {
    padding: 70px 0px 70px 0px;
    background-color: #F8F6FC;
}

.featured-jobs-sect h2 {
    text-align : center;
    font-size: 35px;
    margin-bottom: 50px;
}

.featured-jobs-sect h2 span {
    color: #6A38C2;
}

.jobs-flex {
    display: flex;
    gap: 30px;
}

.jobs-flex:nth-of-type(1) {
    margin-bottom: 30px;
}

.job-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% / 4);
    height: 290px;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.company-logo {
    height: 40px;
    width: 40px;
    background-color: #fafafa;
    border-radius: 4px;
    display: grid;
    place-items: center;
}

.company-logo img {
    height: 35px;
    width: 35px;
/*    border-radius: 4px;
*/}

.company-name {
    font-weight: 600;
    padding-bottom: 2px;
    font-size: 17px;
}

.company-location {
    padding-top: 2px;
    color: #777777;
    font-size: 12px;
    font-weight: 500;
}

.job-container h3 {
/*    font-weight: 700;*/
margin-bottom: 10px;
}

.job-type {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.job-description {
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    margin-bottom: 40px;
}

.job-last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-pay:not(.pay-amount) {
    font-size: 12px;
    color: #777777;
    font-weight: 500;
}

.pay-amount {
    font-size: 18px;
    font-weight: 600;
    color: #262433;
}

.apply-now {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #ede7f7;
    color: #6A38C2;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.apply-now:hover {
    background-color: #E9DDFF;
}

.reviews {
    display: grid;
    place-items: center;
    padding: 70px 0px 70px 0px;
}

.reviews h2 {
    font-size: 35px;
}

.reviews h2:nth-of-type(2) {
    margin-top: 5px;
}

.reviews h2:nth-of-type(2) {
    margin-bottom: 40px;
}

.reviews h2 span {
    color: #6A38C2;
}

.review-container {
    width: 65%;
    text-align: center;
    box-shadow: 0px 10px 16px 5px rgba(237,237,237,0.59);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
}

.review-paragraph {
    line-height: 2;
    font-weight: 500;
    color: #777777;
    margin-bottom: 30px;
}

.reviewer-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reviewer-job {
    font-size: 14px;
    color: #777777;
    font-weight: 500;
}

.reviewers {
    display: flex;
    gap: 14px;
}

.reviewers div {
    height: 60px;
    width: 60px;
}

.reviewers a {
    height: 100%;
    width: 100%;
}

.reviewers img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.current-reviewer {
    transform: scale(1.4);
    margin: 0px 12px 0px 12px;
}

.current-reviewer img {
    border: 4px solid #6A38C2;
}

.resume-section img {
    display: block;
    max-width: 100%;
}

.resume-section {
/*    margin-top: 70px;
*/    background-color: #6A38C2;
}

.resume-flex {
    display: flex;
    gap: 40px;
    align-items: center;
}

.guy-container {
    width: calc(100% / 2);
}

.resume-content {
    width: calc(100% / 2);
}

.resume-content h2 {
    color: #fff;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.resume-content h2 span {
    text-decoration-line: underline;
    text-underline-position: under;
}

.resume-content p {
    color: #fff;
    margin-bottom: 60px;
    line-height: 2;
}

.upload-resume {
    padding: 18px 20px;
    border-radius: 6px;
    background-color: #ede7f7;
    color: #262433;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.upload-resume i {
    padding-right: 6px;
}

.upload-resume:hover {
    background-color: #E9DDFF;
}

.sponsors-section {
    padding: 70px 0px 0px 0;
}

.sponsors-section h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sponsors-section h3 span {
    color: #6A38C2;
}

.sponsors-content {
    display:grid;
    place-items: center;
}

.sponsors-one, 
.sponsors-two {
    display: flex;
    justify-content: center;
}

.sponsors img {
    max-width: 100%;
    display: block;
}

.sponsors-one img {
    width: calc(100% / 6);
}

.sponsors-two img { 
    width: calc(100% / 5);
}

.subscribe-section {
    display: grid;
    place-items: center;
}

.subscribe-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 16px 5px rgba(237,237,237,0.49);
    border-radius: 10px;
    padding: 50px;
    width: 70%;
    transform: translateY(50%);
    background-color: #fff;
}

.subscribe-content h2 {
    font-size: 35px;
    width: calc(100% / 2);
}

.subscribe-content h2 span {
    color: #6A38C2;
}

.input-container {
    width: 450px;
    max-width: 100%;
    position: relative;
    height: 60px;
}

.input-container input {
    box-shadow: 0px 0px 16px 5px rgba(237,237,237,0.49);
    width: 100%;
    background-color: #ede7f7;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 17px;
    height: 100%;
}

.input-container input::placeholder {
    font-size: 17px;
    color: #777777;
}

.subscribe-btn {
    position: absolute;
    right: 0;
    transform: translateX(-6%);
    top: 12%;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #6A38C2;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/*Footer*/
footer {
    background-color: #f8f6fc;
    padding: 160px 0px 50px 0px;
}

footer a {
    cursor: pointer;
    font-size: 13px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer nav li + li {
    margin-top: 20px;
}

footer a:not(.jobnest) {
    font-weight: 500;
}

.footer-title a {
    font-size: 30px;
    color: #6A38C2 !important;
}

.footer-title span { 
    color: #FA500A !important;
}

.footer-title p {
    font-size: 13px;
    font-weight: 500;
    color: #777777;
}

/* Media Queries */
@media (max-width: 1024px) {
    .hero-title {
        font-size: 50px;
    }

    .hero-description {
        font-size: 12px;
    }

    .hero-button {
        padding: 16px 28px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 40px;
    }

    .hero-description {
        font-size: 11px;
    }

    .hero-button {
        padding: 14px 24px;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 40px;
    }

    .hero-description {
        font-size: 10px;
    }

    .hero-button {
        padding: 12px 20px;
    }
}

/*get job*/
@media (max-width: 1024px) {
    .instructions-header h2 {
        font-size: 30px;
    }

    .instructions-header p {
        font-size: 12px;
    }

    .step {
        width: calc(100% / 2 - 20px);
        transform: none;
    }
}

@media (max-width: 868px) {
    .instructions-header h2 {
        font-size: 25px;
    }

    .instructions-header p {
        font-size: 11px;
    }

    .step {
        width: 100%;
        transform: none;
    }
}

@media (max-width: 480px) {
    .instructions-header h2 {
        font-size: 20px;
    }

    .instructions-header p {
        font-size: 10px;
    }

    .step {
        width: 100%;
        transform: none;
    }
}

/*career option*/
@media (max-width: 1024px) {
    .career-option-head h2 {
        font-size: 30px;
    }

    .career-option-head p {
        font-size: 12px;
    }

    .career-option {
        width: calc(100% / 2 - 30px);
    }
}

@media (max-width: 768px) {
    .career-option-head h2 {
        font-size: 25px;
    }

    .career-option-head p {
        font-size: 11px;
    }

    .career-option {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .career-option-head h2 {
        font-size: 20px;
    }

    .career-option-head p {
        font-size: 10px;
    }

    .career-option {
        height: auto;
        padding: 20px;
    }
}