<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<style>
    body {
        font-family: "Montserrat", "sans-serif", Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #262433;
        background-color: #FDFDFD;
        height: 100vh;
    }

    .form-container {
        max-width: 560px;
        margin: 40px auto;
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 80px;
        border: 1px solid #ededdd;
    }

    h2 {
        text-align: center;
    }

    .form-container form {
        margin-top: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    textarea {
        height: 120px;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }

    .reason {
        margin-top: 20px;
    }

    footer {
        padding: 0;
        height: 260px;
        display: grid;
        place-items: center;
    }
</style>

<script type="text/javascript">
    $('form').submit(function (e) {
        e.preventDefault(); // Prevent the default form submission
        Add(); // Call your function to handle the form submission via AJAX
    });

    $(document).ready(function () {
        $('#alertSuccess').hide();
        $('#alertDanger').hide();
    })

    function Add() {
        var application = {
            JobId: $('#jobId').val(),
            UserId: $('#userId').val(),
            FirstName: $('#fName').val(),
            LastName: $('#lName').val(),
            Email: $("#email").val(),
            Phone: $("#phone").val(),
            ApplicationReason: $("#joinUs").val(),
            ApplicationDate: new Date().toISOString()
        };

        $.ajax({
            url: '/Application/CreateApplication',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(application),
            success: function (response) {
                if (response) {
                    $('#alertSuccess').show();
                    $('#alertSuccess').text("Your application has been submitted successfully");

                    // redirect to jobs page after 5 seconds
                    setTimeout(function () {
                        window.location.href = '/Application/Jobs';
                    }, 3000);
                } else {
                    $('#alertDanger').show();
                    $('#alertDanger').text("Some error occured, try again!");
                }
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
                $('#alertDanger').show();
                $('#alertDanger').text(errormessage.responseText);
            }
        });
    }

</script>

<div class="form-container">
    <h2>Job Application Form</h2>

    <form>
        <input type="hidden" id="jobId" value="@TempData["JobId"]" />
        <input type="hidden" id="userId" value="@TempData["UserId"]" />

        <label for="firstName">First Name</label>
        <input type="text" id="fName" name="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="lName" name="lastName" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="@TempData["UserEmail"]" required>

        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone">

        <div class="form-group">
            <label for="file">Choose file:</label>
            <input type="file" class="form-control-file" id="file" name="file" accept=".pdf,.doc,.docx" />
        </div>

        <label for="joinUs" class="reason">Why do you want to join us?</label>
        <textarea id="joinUs" name="joinUs"></textarea>

        <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add()">Add</button>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" id="alertSuccess"></div>
            <div class="alert alert-danger" id="alertDanger"></div>
        </div>
    </div>
</div>
